<!DOCTYPE html>
<html>
    <head>
	    <meta charset="utf-8" />

	    <title>@ViewData["Title"]</title>

	    <link rel="stylesheet" href="~/css/site.css?t=@ViewData["Ticks"]" />
    </head>

    <body>
        @RenderBody()

        <script src="~/js/evotool.js?t=@ViewData["Ticks"]"></script>
    </body>
</html>
