
[Unit]
Description=evoapi server

[Service]
ExecStart=/usr/bin/dotnet /home/ubuntu/evo_packs/evoapi/evoapi.dll
Restart=always
RestartSec=10
User=ubuntu
Environment=ASPNETCORE_ENVIRONMENT=DevEnv
Environment=DB_USAGE=APP
WorkingDirectory=/home/ubuntu/evo_packs/evoapi
SyslogIdentifier=evoapi

[Install]
WantedBy=multi-user.target
