<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>AdminLTE 3 | Starter</title>
    <script src="/scripts/app/lib/header-write.js"></script>
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper" id="content" v-cloak>
        <!-- Navbar -->
        <info-form></info-form>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <main-manu></main-manu>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">Battle Record</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Battle Record</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <table style="border:1px solid #dee2e6;width: 300px;">
                                        <thead style="background:#d3d3d347;">
                                            <tr>
                                                <th style="text-align:center">Player Name</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="text-align:center">{{playerName}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card ">
                                <div class="card-body" style="display: flex;">
                                    <div>
                                        <label style="margin-top: 6px;">Display Period</label>
                                    </div>
                                    <div style="margin-left: 1em;">
                                        
                                        <select v-if="lang=='ja'" class="form-control" v-model="displayPeriod">
                                            <option v-for="item in periodList.seasons" v-bind:value="item.seasonNo">{{ item.displayNameJapanese }}</option>
                                        </select>
                                        <select v-if="lang!='ja'" class="form-control" v-model="displayPeriod">
                                            <option v-for="item in periodList.seasons" v-bind:value="item.seasonNo">{{ item.displayNameEnglish }}</option>
                                        </select>
                                    </div>
                                    <div style="margin-left: 2em;">
                                        <label style="margin-top: 6px;">Show Unit</label>
                                    </div>
                                    <div style="margin-left: 1em;">
                                        <select v-if="lang=='ja'" class="form-control" v-model="showUnit">
                                            <option v-for="item in unitList.mobileSuits" v-bind:value="item.mobileSuitId">{{ item.displayNameJapanese }}</option>
                                        </select>
                                        <select v-if="lang!='ja'" class="form-control" v-model="showUnit">
                                            <option v-for="item in unitList.mobileSuits" v-bind:value="item.mobileSuitId">{{ item.displayNameEnglish }}</option>
                                        </select>
                                    </div>
                                    <div style="margin-left: 2em;">
                                        <button style="margin-top: 4px;" v-on:click="getCareerRecord()">search</button>
                                    </div>

                                </div>
                            </div><!-- /.card -->

                            <div class="card card-primary card-outline">
                                <div class="card-body">
                                    <table class="table table-hover text-nowrap">
                                        <thead style="background:#d3d3d347;">
                                            <tr>
                                                <!--<th>
                                                    careerRecordId
                                                </th>-->
                                                <th>
                                                    Battle Record ID
                                                    <span v-show="sort=='asc'" class="material-icons" style="vertical-align: middle;cursor:pointer;" v-on:click="toggleSort('desc')">
                                                        keyboard_arrow_up
                                                    </span>
                                                    <span v-show="sort=='desc'" class="material-icons" style="vertical-align: middle;cursor:pointer;" v-on:click="toggleSort('asc')">
                                                        keyboard_arrow_down
                                                    </span>
                                                </th>
                                                <th v-if="lang=='ja'">Battle Record Name</th>
                                                <th v-if="lang!='ja'">Battle Record Name</th>
                                                <th>Battle Record Value1</th>
                                                <th>Battle Record Value2</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="row in showList">
                                                <!--<td>{{row.careerRecordId}}</td>-->
                                                <td>{{row.recordItemId}}</td>
                                                <td v-if="lang=='ja'">{{row.displayNameJapanese}}</td>
                                                <td v-if="lang!='ja'">{{row.displayNameEnglish}}</td>
                                                <td>{{row.value}}</td>
                                                <td>{{row.numForAverage}}</td>
                                                <td><button v-on:click="editConfirm(row)">Edit</button></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <paginate v-if="pageCount>0" :page-count="pageCount"
                                              :page-range="3"
                                              :margin-pages="2"
                                              :click-handler="paging"
                                              :prev-text="'＜'"
                                              :next-text="'＞'"
                                              :container-class="'pagination'"
                                              :page-class="'page-item'">
                                    </paginate>

                                </div>
                            </div><!-- /.card -->
                        </div>
                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
            <div class="p-3">
                <h5>Title</h5>
                <p>Sidebar content</p>
            </div>
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <footer-menu></footer-menu>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <script src="/scripts/app/lib/footer-write.js"></script>
    <script src="/scripts/app/page/player/battleRecord.js"></script>
    <link href="/styles/paging.css" rel="stylesheet" />

</body>
</html>
