<!doctype html>
<html class="no-js h-100" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Base Title</title>
    <meta name="description" content="A high-quality &amp; free Bootstrap admin dashboard template pack that comes with lots of templates and components.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- design files -->
    <script src="scripts/app/lib/header-write.js"></script>
  </head>
  <body class="h-100">
      <div id="content">
          <div class="container-fluid">
              <div class="row">
                  <!-- Main Sidebar -->
                  <main-manu></main-manu>
                  <!-- End Main Sidebar -->
                  <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
                      <!-- Main Navbar -->
                      <info-form></info-form>
                      <!-- / .main-navbar -->
                      <div class="main-content-container container-fluid px-4">
                          <!-- Page Header -->
                          <div class="page-header row no-gutters py-4">
                              <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                                  <span class="text-uppercase page-subtitle">GMTool</span>
                                  <h3 class="page-title">Change Password</h3>
                              </div>
                          </div>
                          <!-- End Page Header -->
                          <div class="row">
                              <div class="col-lg-9 col-md-12">
                                  <!-- Add New Post Form -->

                                  <div class="input-group mb-3">
                                      <div class="input-group input-group-seamless">
                                          <span class="input-group-prepend">
                                              <span class="input-group-text">
                                                  <i class="material-icons">person</i>
                                              </span>
                                          </span>
                                          <input type="text" disabled class="form-control" id="form1-username" placeholder="Username" v-model="myAccount">
                                      </div>
                                  </div>

                                  <div class="input-group mb-3">
                                      <div class="input-group input-group-seamless">
                                          <input type="password" class="form-control" id="form2-password-old" placeholder="Password" v-model="passwordOld">
                                          <span class="input-group-append">
                                              <span class="input-group-text">
                                                  <i class="material-icons">lock</i>
                                              </span>
                                          </span>
                                      </div>
                                  </div>
                                  <div class="input-group mb-3">
                                      <div class="input-group input-group-seamless">
                                          <input type="password" autocomplete="new-password" class="form-control" id="form2-password-new" placeholder="Password" v-model="passwordNew">
                                          <span class="input-group-append">
                                              <span class="input-group-text">
                                                  <i class="material-icons">lock</i>
                                              </span>
                                          </span>
                                      </div>
                                  </div>
                                  <button type="button" class="mb-2 btn btn-primary mr-2" v-on:click="changePassword">Change</button>
                                  <span style="color: red;display:none;" v-show="showMessage">{{message}}</span>

                                  <!-- / Add New Post Form -->

                              </div>
                              <div class="col-lg-3 col-md-12">
                                  <!-- Post Overview -->
                                  <!-- / Post Overview -->
                              </div>
                          </div>
                      </div>
                  </main>
              </div>
          </div>
          <!-- modal -->

      </div>
    <!-- liblary -->
    <script src="scripts/app/lib/footer-write.js"></script>
    <!-- pageJS -->
    <script src="scripts/app/page/changePassword.js"></script>
  </body>
</html>