<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="info"
      internalLogFile="/var/log/evo/nlog-internal-evogmtool.log"
      >

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <target xsi:type="File" name="General" fileName="/var/log/evo/evogmtool-general-${shortdate}.log">
      <layout xsi:type="JsonLayout" includeAllProperties="true">
        <attribute name="Time" layout="${longdate}" />
        <attribute name="@Level" layout="${uppercase:${level}}" />
        <!--<attribute name="@AppDomain" layout="${appdomain:format={1\}}" />-->
        <!--<attribute name="@ServerHostName" layout="${hostname}" />-->
        <!--<attribute name="@ProcessId" layout="${processid}" />-->
        <!--<attribute name="@Url" layout="${aspnet-Request-Url}" />-->
        <!--<attribute name="@Ip" layout="${aspnet-Request-Ip}" />-->
        <!--<attribute name="@TraceId" layout="${aspnet-TraceIdentifier}" />-->
        <!--<attribute name="@PostedBody" layout="${aspnet-request-posted-body}" />-->
        <attribute name="App" layout="${message}" encode='false' />
        <attribute name="@Exception" layout="${exception:format=tostring}" />
      </layout>
    </target>

    <target name="AuthLog" xsi:type="Database"
            dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySqlConnector"
            connectionString="${configsetting:name=RdbConnections.GMTool}">
      <commandText>
        insert into AuthLogs
        (
        account
        , result
        , ipAddress
        )
        values
        (
        @account
        , @result
        , @ipAddress
        );
      </commandText>
      <parameter name="@account" layout="${mdlc:item=account}" dbType="String" size="254" />
      <parameter name="@result" layout="${mdlc:item=result}" dbType="Byte" />
      <parameter name="@ipAddress" layout="${aspnet-request-ip}" dbType="String" size="45" />
    </target>

    <target name="OperationLog" xsi:type="Database"
          dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySqlConnector"
          connectionString="${configsetting:name=RdbConnections.GMTool}">
      <commandText>
        insert into OperationLogs
        (
        userId
        , statusCode
        , method
        , url
        , queryString
        , requestBody
        , responseBody
        , exception
        , ipAddress
        )
        values
        (
        case when @userId = 0 then null else @userId end
        , @statusCode
        , @method
        , @url
        , @queryString
        , @requestBody
        , @responseBody
        , @exception
        , @ipAddress
        );
      </commandText>
      <parameter name="@userId" layout="${mdlc:item=userId}" dbType="Int32" />
      <parameter name="@statusCode" layout="${mdlc:item=statusCode}" dbType="Int16" />
      <parameter name="@method" layout="${aspnet-request-method}" dbType="String" size="6" />
      <parameter name="@url" layout="${aspnet-request-url}" dbType="String" />
      <parameter name="@queryString" layout="${aspnet-request-querystring}" dbType="String" />
      <parameter name="@requestBody" layout="${replace:searchFor=(?&lt;=&quot;?password&quot;?\\s*\:\\s*&quot;)[^&quot;]*(?=&quot;):replaceWith=********:regex=true:ignoreCase=true:inner=${aspnet-request-posted-body}}" dbType="String" />
      <parameter name="@responseBody" layout="${replace:searchFor=(?&lt;=&quot;?password&quot;?\\s*\:\\s*&quot;)[^&quot;]*(?=&quot;):replaceWith=********:regex=true:ignoreCase=true:inner=${mdlc:item=responseBody}}" dbType="String" />
      <parameter name="@exception" layout="${mdlc:item=exception:format=tostring}" dbType="String" />
      <parameter name="@ipAddress" layout="${aspnet-request-ip}" dbType="String" size="45" />
    </target>

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--<logger name="Microsoft.*" maxlevel="Info" final="true" />-->
    <!--<logger name="Evo.General" minlevel="Trace" writeTo="General" />-->
    <logger name="AuthLogger" minlevel="Info" writeTo="AuthLog" />
    <logger name="OperationLogger" minlevel="Info" writeTo="OperationLog" />
    <logger name="*" minlevel="Trace" writeTo="General" />
  </rules>
</nlog>
